@import 'normalize.css/normalize.css';
@import 'element-ui/lib/theme-chalk/index.css';
@import 'element-theme-darkplus/lib/index.color.css';

@import './variables.scss';
@import './mixin.scss';
@import './sidebar.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Helvetica;

  @include scrollbar
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:hover,
a:active {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}