@import 'normalize.css/normalize.css';
@import 'element-ui/lib/theme-chalk/index.css';
@import 'element-theme-darkplus/lib/index.color.css';

@import './variables.scss';
@import './mixin.scss';
@import './sidebar.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  overflow-x: hidden;

  @include scrollbar
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:hover,
a:active {
  cursor: pointer;
  color: inherit;
}