.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $sideBarWidth;
  background-color: $menuBackgroundColor;
  transition: width 0.28s;

  // menu
  .el-menu {
    border: none;

    .el-submenu {
      overflow: hidden;
    }
  }

  // text
  .el-submenu__title,
  .el-menu-item {
    color: $menuTextColor !important;
  }

  .el-menu-item.is-active {
    color: $menuActiveTextColor !important;
  }

  .is-active>.el-submenu__title {
    color: $subMenuActiveTextColor !important;
  }

  // background-color
  .el-menu,
  .el-menu-item:focus {
    background-color: $menuBackgroundColor;
  }

  .el-submenu__title,
  .el-menu-item {
    &:hover {
      background-color: $menuHoverBackgroundColor !important;
    }
  }

  .el-menu--inline {
    background-color: $subMenuBackgroundColor !important;

    .el-submenu__title,
    .el-menu-item {
      &:hover {
        background-color: $subMenuHoverBackgroundColor !important;
      }
    }
  }

  // svg
  .svg-icon {
    margin-right: 16px;
  }

  // icon
  .el-menu .submenu-el-icon {
    margin-right: 12px;
    margin-left: -2px;
  }

  // scrollbar
  .el-scrollbar {
    height: calc(100% - 50px);

    .el-scrollbar__wrap {
      overflow-x: hidden !important;
    }

    .is-horizontal {
      display: none;
    }

    .is-vertical {
      right: 0;
    }
  }
}

// collapse
.sidebar--collapse {
  width: 54px;

  &+.app-main {
    margin-left: 54px;
  }

  .sidebar-logo-icon {
    margin-right: 0;
  }

  .el-menu--collapse {
    width: 100% !important;
  }

  .el-menu--collapse .el-submenu>.el-submenu__title span {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
  }

  .el-submenu>.el-submenu__title .el-icon-arrow-right {
    display: none;
  }
}

// hidden
.sidebar--hidden {
  display: none;

  +.app-main {
    margin-left: 0;
    transition: none;
  }
}

// hidden logo
.sidebar--hidden-logo {
  .sidebar-logo {
    display: none;
  }

  .el-scrollbar {
    height: 100%;
  }
}

.el-menu--vertical {

  // svg
  .svg-icon {
    margin-right: 16px;
  }

  // icon
  .el-menu-item>.submenu-el-icon {
    margin-right: 12px;
    margin-left: -2px;
  }

  // text
  .el-menu-item.is-active {
    color: $menuActiveTextColor;
  }

  .is-active>.el-submenu__title {
    color: $subMenuActiveTextColor;
  }

  .el-submenu__title,
  .el-menu-item {
    color: $menuTextColor;
  }

  // background-color
  .el-menu {
    background-color: $menuBackgroundColor;
  }

  .el-submenu__title,
  .el-menu-item {
    &:hover {
      background-color: $menuHoverBackgroundColor;
    }
  }

  // popup scroll
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(144, 147, 153, .3);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-track-piece {
      background: transparent;
    }
  }
}