// sidebar
$menuTextColor: #bfcbd9;

$menuActiveTextColor: #409EFF;
$subMenuActiveTextColor: #f4f4f5;

$logoBackgroundColor: #2b2f3a;
$menuBackgroundColor: #304156;
$subMenuBackgroundColor: #1f2d3d;

$menuHoverBackgroundColor: #263445;
$subMenuHoverBackgroundColor: #001528;

$sideBarWidth: 210px;