// sidebar
$menuTextColor: #bfcbd9;

$menuActiveTextColor: #1890ff;
$subMenuActiveTextColor: #f4f4f5;

$menuBackgroundColor: #304156;
$subMenuBackgroundColor: #1f2d3d;

$menuHoverBackgroundColor: #263445;
$subMenuHoverBackgroundColor: #001528;

$sideBarWidth: 210px;